<footer>
	<div class="sharethis-inline-share-buttons"></div>
	<div class="fb-comments" data-href="https://jeqode.com" data-numposts="5" data-colorscheme="light" data-mobile="true"></div>
	<div class="hidden fb-comments" data-href="https://jeqode.com" data-numposts="5" data-colorscheme="dark" data-mobile="true"></div>

	<h4>บทความล่าสุด</h4>

	<section>
		<article>
			<a href="#">
				{% include img.html url="img/1.jpg" %}
				<h5 class="article title"><span>How to build Responsive web from scratch</span></h5>
			</a>
		</article>
		<article>
			<a href="#">
				{% include img.html url="img/2.jpg" %}
				<h5 class="article title"><span>The Last Will and Testament of Eric Jones</span></h5>
			</a>
		</article>
		<article>
			<a href="#">
				{% include img.html url="img/3.jpg" %}
				<h5 class="article title"><span>How do I set background color of text only in CSS?</span></h5>
			</a>
		</article>
		<article>
			<a href="#">
				{% include img.html url="img/4.jpg" %}
				<h5 class="article title"><span>User Experience Design</span></h5>
			</a>
		</article>
		<article>
			<a href="#">
				{% include img.html url="img/5.jpg" %}
				<h5 class="article title"><span>Getting rid of right: 0 doesn't fix it</span></h5>
			</a>
		</article>
		<article>
			<a href="#">
				{% include img.html url="img/6.jpg" %}
				<h5 class="article title"><span>What techniques were used to reduce the required re-rendering in 3D programs?</span></h5>
			</a>
		</article>
	</section>
</footer>